

body {
    background-color: brown;
    background-image: url(/HTML/Image/img/example.jpg);
    background-size: 1000px;
    background-repeat:repeat;
    background-attachment: scroll;
}

p {
    color: aqua;
}

.paragraf1{
    color: black;
    text-align: center;

}

.paragraf1:hover {
    color: white;
    text-align: center;
}

.paragraf2 {
    color: blue;
    text-align: left;
}

.paragraf3 {
    color: chartreuse;
    text-align: right;
}

table {
    background-color: black;
}

a {
    color: gray;
    text-decoration: none;
    text-orientation: upright;
}

.navbar {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-transform: capitalize;
}

.square {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: auto;
    transition: 2.5s;
}

.square:hover {
    border-radius: 50%;
    transform: rotate(360deg);
    background-color: gray;
    opacity: 0.5;
}

.square2{
    background-color: gray;
    width: 100px;
    height: 100px;
    margin: auto;
    transition: 3s;
}

.square2:hover{
    background-color: black;
    transform: rotate3d(360deg);
}

.square1 {
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: auto;
    transition: 0.5s;
}

.square1:hover{
    background-color: blueviolet;
    border-radius: 30%;
    transform: rotate(30deg);
}

form label {
    color: blue;
    text-align: right;   
}

form input {
    background-color: aqua;
    
}